# .coveragerc to control coverage.py

[run]
omit =
        *__init__*
        */usr/local/lib*
        *Test*
        *admin.py*
        *apps.py*
        *wsgi*
        *manage.py*
        *dev*
        *production*
        */migrations/*

[report]
exclude_lines =
        def __