<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>한강 코인</title>
</head>
<body>
    <div id="coin_name">코인 이름: {{ coin.name }}</div>
    <div id="today_master_value">오늘 시작 값: {{ coin.today_master_value }}</div>
    <div id="latest_value">최근 코인 값: {{ coin.latest_value }}</div>
    {% if river %}
        <div id="river_temperature">한강 수온: {{ river.temperature }}</div>
    {% endif %}
    <div id="select_coin">
        <ul>
        {% for currency, _ in coin_list %}
            <li><input type="radio" name="coin" value="{{ currency }}"
                    {% if forloop.counter == 1 %}
                       checked
                    {% endif %}
            > {{ currency }}</li>
        {% endfor %}
        </ul>
    </div>
</body>
</html>